<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#fff">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Tangerine" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
  <style>
    body {
      --mainBg: white;
      --darkest: #111111;
      --dark: #242832;
      --darkAccent: #81878B;
      --darkBg: #d3d3d3;
      --lightBg: #eee;
      
    }
    a {
      text-decoration: none;
      color: #eee
    }
    a:hover {
      color: yellow;
    }
    a:active {
      color: white;
    }
    hr {
      color: #666;
      border-color: #666
    }
    div {
      box-sizing:border-box
    }
    body {
      margin:0;
      box-sizing:border-box
    }
    button {
      border-radius: 0.6rem;
      padding: 0.6rem;
      font-size: 1.2rem;
    }
    ul {
      list-style-type: square
    }
    .nav-button {
      border-radius: 0.4rem;
      padding: 0.4rem;
      font-size: 0.8rem;
    }
  </style>
  <body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
      <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>
  </body>
</html>