.navLink {
  position: relative;
  min-width: max-content;
  width: 9rem;
  height: var(--bone-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: var(--nav-link-color);
  color: white;
  z-index: 2;
  text-shadow: var(--text-stroke);
  letter-spacing: 0.025em;
}

.navLink.selected {
  filter: drop-shadow(0 0 0.5rem #00000077);
}

.navLink.selected * {
  color: rgb(210, 248, 210);
  background-color: var(--bone-highlight-color);
}

.boneContainer, .boneKnob {
  position: absolute;
  background-color: var(--bone-color);
}

.boneContainer {
  width: 100%;
  height: 100%;
  border-radius: 50%/10%;
}

.boneKnob {
  width: var(--bone-knob-size);
  height: var(--bone-knob-size);
  aspect-ratio: 1;
  border-radius: 50%;
  translate: -50% -50%;
  left: calc(var(--bone-knob-offset-x) * -1);
  top: calc(var(--bone-knob-offset-y) * -1);
}

.boneKnob:nth-of-type(2) {
  left: calc(100% + var(--bone-knob-offset-x));
  top: calc(var(--bone-knob-offset-y) * -1);
}

.boneKnob:nth-of-type(3) {
  left: calc(var(--bone-knob-offset-x) * -1);
  top: calc(100% + var(--bone-knob-offset-y));
}

.boneKnob:nth-of-type(4) {
  left: calc(100% + var(--bone-knob-offset-x));
  top: calc(100% + var(--bone-knob-offset-y));
}
