.borderedSectionContainer {
  background-color: var(--section-bg-color);
  padding: var(--hamburger-margin);  
  margin: var(--hamburger-margin);
  border-radius: var(--section-roundness);
}

.borderedSection {
  width: 100%;
  border-style: solid;
  border-image-source: url('/pawprintborder.svg');
  border-image-slice: 50%;
  border-image-width: var(--image-border-width);
  margin: 0;
  padding: calc(var(--main-padding) / 2);
  padding-bottom: calc(var(--image-border-width) + 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.borderedSection h1,
.borderedSection h2 {
  margin: calc(var(--image-border-width) / 4.5) 0;
  font-size: calc(var(--image-border-width) / 2.25) !important;
}

.borderedSection h2 {
  margin: 1rem 0;
  font-size: calc(var(--image-border-width) / 2.75) !important;
}