
.socialLinks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--social-button-size));
  grid-template-rows: var(--social-button-size);
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-top: calc(var(--footer-height) / 2);
}

.socialLinks > a {
  position: relative;
}

.socialLinks img {
  position: static !important;
  object-fit: contain;
}