.questionSet {
  cursor: pointer;
}

.question {
  color: #eee;
}

.answer {
  padding: 0 0.25rem;
  overflow-y: hidden;
  max-height: 0px;
  transition: all 400ms ease !important;
}

.questionSet.expanded > .answer {
  max-height: 40rem;
}