.contactSection {
  margin: 0;
  align-self: stretch;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.contactInfo > p {
  font-size: 1.25rem;
  margin: 0;
}

.contactInfo a {
  font-weight: bold;
}

.contactInfo p:first-of-type {
  font-size: 1.5rem;
}

.contactSection address {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 1rem;
}

.googleMapFrame {
  width: 100%;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 12px #00000077;
}

.contactSection .bannerImage {
  display: none;
  position: relative;
  width: 100vw;
  height: calc(var(--header-height) * 2);
  z-index: -1;
  overflow: hidden;
}

.bannerImage img {
  object-fit: cover;
  object-position: top;
}