.contactSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-top: calc(var(--expanded-header-height) * 1.55); */
  flex-grow: 1;
  border-radius: var(--section-roundness);
}

.contactSection > address {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.googleMapFrame {
  width: 100%;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 12px #00000077;
  border-radius: 0.5rem;
}