.logo {
  position: relative;
  margin-left: 2%;
  height: 70%;
  aspect-ratio: var(--logo-aspect-ratio);
}

.logo > img {
  position: absolute;
  left: 0;
  top: 0;
  translate: 0 0;
  opacity: 0;
  transition: translate var(--logo-animation-apeed) ease, opacity var(--logo-animation-apeed) ease;
}

img.monocle {
  filter: invert();
}

img.doghead {
  
}

img.grooming {
  
}

.logo.revealed > img {
  opacity:1;
}

