.navMenu {
  position: fixed;
  width: 100vw;
  height: var(--actual-height);
  left: 0;
  padding-top: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  transition: all 250ms ease;
  z-index: 0;
}
  
.navMenu.closed {
  opacity: 0 !important;
  pointer-events: none;
}
    
.navMenu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--bone-height) + (var(--bone-knob-size) / 6));
  gap: calc(
    (var(--bone-height) / 2)
    + var(--bone-knob-size)
    - (var(--bone-knob-offset-y) * -8)
    + 2dvh
  );
  flex-grow: 1;
  /* padding: 1dvh 0; */
}

.navMenu a {
  text-decoration: none;
  font-family: 'Berkshire Swash', sans-serif;
}