@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --actual-height: 100dvh;
  --screen-ratio: calc(100vw / var(--actual-height));
  --header-height: 4rem;
  --expanded-header-height: 8rem;
  --main-padding: 1rem;
  --logo-aspect-ratio: 600/193;
  --hamburger-size: calc(var(--header-height) * 0.7);
  --nav-space-y: calc(var(--actual-height) - (var(--header-height) * 2.5));
  --social-button-size: calc(var(--actual-height) / 20);

  --knob-divisor: 16;

  --bone-height: calc(var(--nav-space-y) / 12);
  --bone-knob-size: calc((var(--nav-space-y) / var(--knob-divisor)) + (var(--bone-height) / 4));
  --bone-knob-offset-x: calc(var(--bone-height) / -16);
  --bone-knob-offset-y: calc(var(--bone-height) / -24);
  --bone-color: #8d8d7f;
  --bone-highlight-color: rgb(138, 176, 110);
  --nav-link-color: #1b1717;
  --header-color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;

  --off-white: #e4e4e4;
  --off-black: #191919;

  --text-stroke:
    0.035em -0.035em #000000,
    0.035em -0.015em #000000,
    0.035em 0 #000000,
    0.035em 0.015em #000000,
    0.035em 0.035em #000000,

    0 -0.035em #000000,
    0 -0.015em #000000,
    0 0 #000000,
    0 0.015em #000000,
    0 0.035em #000000,

    -0.035em -0.035em #000000,
    -0.035em -0.015em #000000,
    -0.035em 0 #000000,
    -0.035em 0.015em #000000,
    -0.035em 0.035em #000000,
    0 0 0.05em black
  ;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 2.5rem !important;
  font-weight: normal;
  text-shadow: var(--text-stroke);
  letter-spacing: 0.025em;
}

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  height: var(--actual-height);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-attachment: fixed;
  color: var(--off-white);
  overscroll-behavior: none;

  /* opacity: 0;
  transition: opacity 400ms ease; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  flex-grow: 1;
  padding-top: var(--header-height);
}

header,
footer {
  width: 100vw;
  min-height: var(--header-height);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding:  0 2% 0 1%;
  transition: all 250ms ease;
}

header > a {
  display: flex;
  align-items: center;
}

header.expanded {
  height: var(--expanded-header-height);
  background-color: transparent;
}

footer {
  min-height: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem !important;
  color: #dddddd77;
  white-space: pre;
}

footer > a {
  font-size: inherit !important;
  font-weight: bold !important;
  color: #ffffff88;
  font-family: sans-serif !important;
  text-decoration: none;
}

.section {
  margin: var(--main-padding) !important;
  padding: calc(var(--main-padding) / 2) var(--main-padding);
  border-radius: calc(var(--main-padding) / 2);
}

blockquote {
  background-color: rgb(82, 43, 43);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  margin-top: 0;
  font-style: italic;
  color: #bbb;
}