@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --actual-height: 100dvh;
  --screen-ratio: calc(100vw / var(--actual-height));
  --header-height: 4rem;
  --footer-height: 1.5rem;
  --expanded-header-height: 8rem;
  --main-padding: 1rem;
  --logo-aspect-ratio: 600/193;
  --hamburger-size: calc(var(--header-height) * 0.65);
  --hamburger-margin: calc((var(--header-height) - var(--hamburger-size)) / 2.5);
  --nav-space-y: calc(var(--actual-height) - (var(--header-height) * 2.5));
  --social-button-size: calc(var(--nav-space-y) / 12);

  --icons-start-x: calc((var(--hamburger-size) + (var(--hamburger-margin) * 3)) * -1);
  --icons-start-y: 0;
  --icons-end-x: calc((100vw - (var(--hamburger-size) * 2.75)) * -1);
  --icons-end-y: calc(var(--expanded-header-height) + 1rem);

  --knob-divisor: 16;

  --hamburger-color: #595454;
  --bone-height: calc(var(--nav-space-y) / 12);
  --bone-knob-size: calc((var(--nav-space-y) / var(--knob-divisor)) + (var(--bone-height) / 4));
  --bone-knob-offset-x: calc(var(--bone-height) / -16);
  --bone-knob-offset-y: calc(var(--bone-height) / -24);
  --bone-color: #8d8d7f;
  --bone-highlight-color: rgb(138, 176, 110);
  --nav-link-color: #1b1717;
  --header-color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;

  --off-white: #dddddd;
  --off-black: #191919;

  --text-stroke:
    0.035em -0.035em #000000,
    0.035em -0.015em #000000,
    0.035em 0 #000000,
    0.035em 0.015em #000000,
    0.035em 0.035em #000000,

    0 -0.035em #000000,
    0 -0.015em #000000,
    0 0 #000000,
    0 0.015em #000000,
    0 0.035em #000000,

    -0.035em -0.035em #000000,
    -0.035em -0.015em #000000,
    -0.035em 0 #000000,
    -0.035em 0.015em #000000,
    -0.035em 0.035em #000000,
    0 0 0.05em black
  ;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 2.5rem !important;
  font-weight: normal;
  text-shadow: var(--text-stroke);
  letter-spacing: 0.025em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: var(--actual-height);
  width: 100%;
  background-size: 90vmin;
  background-color: var(--off-black);
  color: var(--off-white);
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 250ms ease;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 2%, #050505 100%);
}

main {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  flex-grow: 1;
  padding-top: var(--header-height);
  z-index: 1;
}

header,
footer {
  width: 100vw;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding:  0 0 0 1%;
  transition: all 250ms ease;
}

header > a {
  display: flex;
  align-items: center;
}

header.expanded {
  height: var(--expanded-header-height);
  background-color: transparent;
}

header.scrolled {
  height: calc(var(--header-height) * 0.6);
  background-color: var(--header-color);
}
  
header.scrolled div {
  outline-color: var(--header-color);
}

header > .icon-area {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--header-height);
  width: calc(var(--hamburger-size) * 2.25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  translate: var(--icons-start-x) var(--icons-start-y);
  transition: all 250ms ease;
}

a {
  position: relative;
}

header > .icon-area a {
  text-decoration: none;
  color: inherit;
}

.contact-detail {
  position: absolute;
  top: -100%;
  width: max-content;
  min-height: var(--hamburger-size);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  pointer-events: none;
  left: 100%;
  opacity: 0;
  transform-origin: bottom left;
  rotate: -90deg;
}

header.expanded > .icon-area {
  translate: var(--icons-end-x) var(--icons-end-y);
  rotate: 90deg;
  gap: 0.5rem;
}

header.expanded .contact-detail {
  pointer-events: all;
  opacity: 1;
  transition: all 250ms ease;
  transition-delay: 250ms;
}

.contact-detail.phone {
  font-weight: bold;
  font-size: 1.5rem;
}


header img.icon {
  position: relative;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  rotate: 0;
  transition: rotate 250ms ease;
}

header.expanded > .icon-area img.icon {
  rotate: -90deg;
}

header.scrolled > .icon-area {
  min-height: unset;
  height: 1rem;
  transform-origin: top right;
  scale: 0.85;
}

  
footer {
  height: var(--footer-height);
  background-color: var(--header-color);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem !important;
  color: #dddddd77;
  white-space: pre;
}

footer > a {
  font-size: inherit !important;
  font-weight: bold !important;
  color: #ffffff88;
  font-family: sans-serif !important;
  text-decoration: none;
}

.section {
  margin: var(--main-padding);
  padding: calc(var(--main-padding) / 2) var(--main-padding);
  border-radius: calc(var(--main-padding) / 2);
}

blockquote {
  background-color: rgb(82, 43, 43);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  margin-top: 0;
  font-style: italic;
  color: #bbb;
}