@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --actual-height: 100dvh;
  --screen-ratio: calc(100vw / var(--actual-height));
  --header-height: 4rem;
  --footer-height: 1.5rem;
  --expanded-header-height: 8rem;
  --main-padding: 1rem;
  --logo-aspect-ratio: 600/193;
  --hamburger-size: calc(var(--header-height) * 0.65);
  --hamburger-margin: calc((var(--header-height) - var(--hamburger-size)) / 2.5);
  --nav-space-y: calc(var(--actual-height) - (var(--header-height) * 2.5));
  --social-button-size: calc(var(--nav-space-y) / 12);

  --icons-start-x: calc((var(--hamburger-size) + (var(--hamburger-margin) * 3)) * -1);
  --icons-start-y: 0px;
  --icons-end-x: calc((100vw - (var(--hamburger-size) * 2.75)) * -1);
  --icons-end-y: calc(var(--expanded-header-height) + 1rem);
  --image-border-width: calc(var(--hamburger-size) * 2);

  --gallery-width: 100vw;
  --gallery-height: 12rem;

  --knob-divisor: 16;

  --hamburger-color: #595454;
  --bone-height: calc(var(--nav-space-y) / 12);
  --bone-knob-size: calc((var(--nav-space-y) / var(--knob-divisor)) + (var(--bone-height) / 4));
  --bone-knob-offset-x: calc(var(--bone-height) / -16);
  --bone-knob-offset-y: calc(var(--bone-height) / -24);
  --bone-color: #b7b78f;
  --bone-highlight-color: rgb(138, 176, 110);
  --nav-link-color: #1b1717;
  --header-color: #131313;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;

  --default-section-bg-color: rgba(60, 42, 67, 0.7);
  --section-bg-color: var(--default-section-bg-color);
  --off-white: #c3c3c3;
  --off-black: #191919;
  --expansion-speed: 250ms;

  --section-roundness: calc(var(--main-padding) / 2);

  --text-stroke:
    0.035em -0.035em #000000,
    0.035em -0.015em #000000,
    0.035em 0 #000000,
    0.035em 0.015em #000000,
    0.035em 0.035em #000000,

    0 -0.035em #000000,
    0 -0.015em #000000,
    0 0 #000000,
    0 0.015em #000000,
    0 0.035em #000000,

    -0.035em -0.035em #000000,
    -0.035em -0.015em #000000,
    -0.035em 0 #000000,
    -0.035em 0.015em #000000,
    -0.035em 0.035em #000000,
    0 0 0.05em black
  ;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  text-align: center;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 2.5rem !important;
  font-weight: normal;
  text-shadow: var(--text-stroke);
  letter-spacing: 0.025em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: var(--actual-height);
  width: 100%;
  background-size: 90vmin;
  background-color: var(--off-black);
  color: var(--off-white);
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 250ms ease;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 2%, #050505 100%);
}

main {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  flex-grow: 1;
  padding-top: var(--header-height);
  z-index: 1;
}

header,
footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
  
header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding:  0 0 0 1%;
  transition: all var(--expansion-speed) ease;
  background-color: var(--header-color);
}


header > * {
  z-index: 1;
}

header > a {
  display: flex;
  align-items: center;
}

header.expanded {
  height: var(--expanded-header-height);
  background-color: transparent;
}

header.scrolled {
  height: calc(var(--header-height) * 0.6);
  background-color: var(--header-color);
}
  
header.scrolled div {
  outline-color: var(--header-color);
}

a {
  position: relative;
}
 
footer {
  position: relative;
  height: var(--footer-height);
  background-color: var(--header-color);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem !important;
  color: #dddddd77;
  white-space: pre;
}

a {
  text-decoration: none;
}

footer > a {
  font-size: inherit !important;
  font-weight: bold !important;
  color: #ffffff88;
  font-family: sans-serif !important;
}

.section {
  margin: var(--main-padding);
  padding: calc(var(--main-padding) / 2) var(--main-padding);
  border-radius: var(--section-roundness);
}

.caret {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 2.8rem solid transparent;
  border-right: 2.8rem solid transparent;
  border-top: 2rem solid #ffffff66;
  outline: 0 !important;
  filter: drop-shadow(0 0 1px #000000);
  overflow: visible;
}

.borderedSectionContainer {
  background-color: var(--section-bg-color);
  padding: var(--hamburger-margin);
  margin: var(--hamburger-margin);
  border-radius: var(--section-roundness);
}

.borderedSection {
  width: 100%;
  border-style: solid;
  border-image-source: url('/pawprintborder.svg');
  border-image-slice: 50%;
  border-image-width: var(--image-border-width);
  margin: 0;
  padding: calc(var(--main-padding) / 2);
  padding-bottom: var(--image-border-width);
}

.borderedSectionContainer.last {
  background: transparent;
  width: 100%;
  /* padding: 0; */
  margin: 0;
  } 
  
.borderedSectionContainer.last > .borderedSection {
  border: none;
  padding: 0;
  padding-bottom: 0;
}

.borderedSection h1, .borderedSection h2 {
  margin: calc(var(--image-border-width) / 4) 0 calc(var(--image-border-width) / 3) 0;
  font-size: calc(var(--image-border-width) / 2.25) !important;
}
.borderedSection h2 {
  font-size: calc(var(--image-border-width) / 2.75) !important;
}

blockquote {
  background-color: #c1945d28;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem 1rem;
  margin-top: 0;
  font-style: italic;
  color: #bbb;
}