.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  max-width: 80dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

.galleryImage {
  position: relative;
  width: 6rem;
  height: 10rem;
}

.galleryImage > img {
  object-fit: cover;
}