.landingPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: calc(var(--expanded-header-height) * 1.85);
  /* padding-bottom: 1rem; */
  padding-bottom: calc(var(--image-border-width) * 1.6);
}

.landingPage > h1 {
  font-size: 1.75rem !important;
  max-width: 90vw
}

.landingPage > .introText {
  padding: 1rem 2rem;
  width: 100%;
  background: #1d101083;
  text-align: center;
}

.landingPage > p {
  color: #ffffffaa;
  margin: 0.5rem;
}