.logo {
  position: relative;
  height: 85%;
}

.logo > img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  /* max-width: 80dvw; */
}

.logo > img.monocle {
  filter: invert();
}

