.navMenu {
  position: fixed;
  top: var(--header-height);
  height: calc(var(--actual-height) - var(--header-height));
  background-color: #aaaaaa99;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 0;
  transition: all 200ms ease;
  /* display: none; */
}

.navMenu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}