/* SiteSection.module.css */
.section {
  background-color: rgba(150, 150, 132, 0.75);
  margin: var(--main-padding);
  padding: var(--main-padding);
  border-radius: calc(var(--main-padding) / 2);
}

.slidesContainer {
  display: flex;
  gap: 1rem;
}

.slide {
  padding: 1rem;
  border-radius: 0.5rem;
}

.slideIcon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}