
.slidesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #070707;
}

.alaCartArea {
  background: rgba(142, 38, 38, 0.297);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  border-radius: var(--section-roundness);
}

.alaCartArea ul {
  font-size: 1.35rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}