/* GLOBAL */

body {
  overflow-x: hidden;
  --mainBg: #fff;
  --darkest: #111;
  --dark: #242832;
  --light: #4e5569;
  --darkAccent: #81878B;
  --darkBg: #d3d3d3;
  --lightBg: #eee;
  --outerBorderColor: gray;
  --innerBorderColor: rgb(184, 181, 181);
  max-width: 800px;
  min-width: 324px;
  margin:0;
  box-sizing:border-box;
  font-family: Playfair Display, serif;
}
#main {
  position: relative;
}
#padding-container {
  padding: 3%;
  padding-top: 0;
}
a {
  text-decoration: none;
  color: #eee;
  outline: none;
  border: none;
}
img {
  transition: all 600ms ease;
}
#logo-img {
  width: 60vmin;
  border: 1px solid #333;
  border-radius: 4%;
  margin: 10%;
  margin-top: 5%;
  transition: all 600ms ease;
}
#cock {
  background-color: green;
}
#logo-msg, #logo-img {
  opacity: 0;
  transform: scale(0);
  transition: all 600ms ease;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0.75rem;
}
.square-ul {
  list-style-type: square;
  margin-left: 1.5rem;
  font-family: sans-serif
}
.square-ul li {
  margin-top: 0.1rem;
  padding: 0.25rem !important;
}
.panel-ul {
  padding: 0;
  margin: 0;
}
li {
  font-size: 0.9em;
}
big {
  font-weight: bold;
}
.smaller {
  font-size: 1.1rem;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
h4 {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem !important;
  color: var(--dark);
}
input[type=radio] {
  margin: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.2rem;
  cursor: pointer;
}
button, select {
  cursor: pointer;
}
.material-icons {
  font-size: 1.5rem;
}
.mainMenuItem {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 0.75rem;
}
.visible {
  display: block !important;
}

/* Splash Page */

#splash-page {
  padding: 2%;
  margin:1.5%;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--mainBg);
}

/* Header */

#header {
  background-image: linear-gradient(var(--darkest) 8rem, var(--mainBg));
  color: var(--mainBg);
  font-family: Tangerine, cursive;
  font-size: 2rem;
  padding: 3% 3% 0% 3%;
  display: flex;
  flex-direction: column;
}
#hamburger-icon {
  font-size:2.5rem;
  align-self: center;  
}
#top-row {
  background-color: var(--darkest);
  width:100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
#hamburger {
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #191919;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  transform-origin: 0 0;
}
#admin-search-form {
  font-family: Playfair Display, serif;
  width: 100%;
  color: var(--darkAccent);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#hamburger-container {
  box-sizing:border-box;
  font-size: 2rem;
  font-family: Tangerine, cursive;
  text-align: right;
  width: 100%;
  padding: 2%;
  background-color: rgba(25, 25, 25, 1);
  opacity: 0;
  pointer-events: none;
  transition: height 300ms ease, opacity 600ms ease;
}
.tiny {
  text-align: right;
  font-size: 0.6rem;
  font-family: sans-serif;
  margin-top: 0.25rem;
}
#search-area {
  width: 80%;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
}
#search-input {
  width:72%;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
#search-button {
  width: 20%;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
#search-options {
  margin-top: 0.5rem;
  display: inline-flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;  
}
.search-list-tab {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  opacity: 0.5;
  pointer-events: none;
}
.tab-contents {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: bold;
}
.tab-contents > i {
  margin-right: 0.25rem;
}
.search-list-tab > div {
  background-color: var(--light);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  font-family: Helvetica;
  transition: all 100ms ease;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: auto;
  min-height: 2rem;
  transform-origin: 0 0;
}
#parent-tab {
  background-color: var(--dark);
}
input[type=radio] {
  display: none;  
}
#call-count {
  font-size: 0.8rem;
}

/* SectionHeading */

#section-heading {
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--mainBg);
  width: 100%;
  padding: 2%;
  font-family: Helvetica;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

#btns {
  padding: 0;
  display: inline-flex;
  justify-content: flex-end;
}

#section-heading #top-buttons {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#section-heading button {
  border-radius: 0.4rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

#section-heading div {
  box-sizing:border-box;
  padding: 2%;
  width: 100%;
}
#sort-label {
  display: inline-flex;
  align-items: center;
}
#sort-select {
  border-radius: 0.4rem;
  padding: 0.5rem;
  justify-self: flex-start;
  margin-left: 0.25rem;
}
#sort-style-radios {
  display: inline-flex;
  border-radius: 0;
  padding: 0.25rem;
}
#sort-style-radios > div {
  cursor: pointer;
}
#section-heading #lbl {
  width: 35%;
}
#sort-style-radios > div {
  width: 6rem;
  border-radius: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
}

/* ListIndex */

#no-result-message {
  margin-top: 2rem;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 1.25rem;
}
#showing-results-message {
  font-size: 0.75rem;
  font-family: sans-serif;
  text-align: center;
}

/* CARDS */
.card {
  display: flex;
  flex-direction: column;
}
.card a {
  color: blue;
  
}
.card-title {
  box-sizing: border-box;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  margin-top: 0.75rem;
  background-color: var(--light);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.pet-portrait {
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  border-radius: 0;
  border: 1px solid gray;
  border-top: 0;
  border-bottom: 0;
  transition: all 250ms ease;
}
.card-contents {
  padding: 1.25rem 0.75rem 1.5rem 0.75rem;
  background-color: rgb(224, 219, 210);
  border-radius: 0;
  border: 1px solid var(--outerBorderColor);
  border-top: 0;
  border-bottom: 0;
}

.list-body a, .list-body a:visited {
  color: blue;
}
.data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
}
.data-grid > div {
  padding: 0.5rem;
  border: 1px solid rgb(218, 209, 201);
}
.card-panel-row {
  display: inline-flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}
.info-area {
  border-radius: 0.5rem;
  border: 1px solid var(--innerBorderColor);
  background-color: rgb(228, 225, 220);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  flex-grow:2;
}
.info-area:nth-child(2) {
  margin-left: 1rem;
  flex-grow: 2;
}
.panel-icon {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 0.25rem;
}
.list-body {
  font-size: 0.9em;
}
.list-head {
  box-sizing: border-box;
  width: 100%;
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  border: 1px solid var(--innerBorderColor);
  border-bottom: 0;
  background-color: rgb(218, 209, 201);
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.list-head > i {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.list-body {
  border: 1px solid var(--innerBorderColor);
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0;
  padding: 0.5rem;
  background-color: rgb(228, 225, 220);
}
.list-body li {
  padding: 0.25rem 0 0.25rem 0;
  margin: 0;
}
.card-footer {
  width: 100%;
  font-family: sans-serif;
  font-size: 0.7rem;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
  background-color: var(--light);
  color: rgb(228, 225, 220);
  margin-bottom: 0.5rem;
}





