.slide {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #cbcb8b3c;
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: var(--off-white);
} 

.slideHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.slideHeader > h2 {
  text-align: left;
  padding: 0;
}

.slideIcon {
  position: relative;
  height: 5rem;
  overflow: visible;
}

.slideIcon img {
  position: absolute;
  object-fit: cover;
}